# This is a basic workflow that is manually triggered

name: Format Check

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  format_check:
    runs-on: ubuntu-latest
    name: Format Check

    steps:
      - uses: actions/checkout@v4
      - run: wget -O ./Cubyz-fmt https://github.com/PixelGuys/Cubyz-formatter/releases/download/0.15.0-dev.1034%2Bbd97b6618/Cubyz-fmt-x86_64-linux
      - run: chmod +x ./Cubyz-fmt
      - run: |
          if ./Cubyz-fmt *.zig src/*.zig src/*/*.zig src/*/*/*.zig src/*/*/*/*.zig src/*/*/*/*/*.zig src/*/*/*/*/*/*.zig src/*/*/*/*/*/*/*.zig src/*/*/*/*/*/*/*/*.zig src/*/*/*/*/*/*/*/*/*.zig src/*/*/*/*/*/*/*/*/*/*.zig | grep -q . ; then
            git diff --color=always;
            exit 1;
          fi
      - run: |
          shopt -s nullglob
          for file in *.zon ; do
            zig ast-check $file
          done
